* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hero {
  display: grid;
  height: 100%;
}

.hero-content {
  z-index: 1; /* [1] */
  grid-area: 1/-1;
  display: flex;
  flex-direction: column;
  margin: auto; /* [2] */
  text-align: center;
  color: whitesmoke;
  padding-bottom: 250px;
  font-family: 'Montserrat', sans-serif;
}

.hero-image {
  grid-area: 1/-1;
  object-fit: cover; /* [3] */
  width: 100%;
  height: 100%;
  min-height: 0; /* [4] */
}

.intro {
  position: relative;
  display: grid;
  padding-top: 20px;
  font-weight:400;
}

#movies {
  display: grid;
  padding: 1rem;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}

.tile {
  display: flex;
  padding: 1rem;
  margin-bottom: 1rem;
  gap: 2rem;
}

img {
  width: 200px;
}

/* Add a black background color to the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #000000;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: whitesmoke;
  color: black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  background-color: rgb(80, 80, 80);
  color: white;
}

/* Dropdown Button */
.dropbtn {
  background-color: rgb(0, 91, 170);
  color: white;
  padding: 14px 16px;
  font-size: 17px;
  border: none;
  font-family: 'Montserrat', sans-serif;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  float: right;
  background-color: #000000;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-family: 'Montserrat', sans-serif;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 14px 16px;
  font-size: 17px;
  text-decoration: none;
  display: block;
  font-family: 'Montserrat', sans-serif;

}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: whitesmoke;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: rgb(32, 151, 255);
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav a,
  .topnav input[type="text"] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
}
