* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Home Page Styles */
.hero {
  display: grid;
  height: 100%;
}

.hero-content {
  z-index: 1;
  grid-area: 1/-1;
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  color: whitesmoke;
  padding-bottom: 250px;
  font-family: "Montserrat", sans-serif;
}

.hero-image {
  grid-area: 1/-1;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-height: 0;
}

.intro {
  position: relative;
  display: grid;
  padding-top: 20px;
  font-weight: 400;
}

.instructions0 {
  padding-top: 120px;
  padding-bottom: 55px;
}

.instructions1 {
  color: rgb(230, 230, 230);
  font-family: "Montserrat", sans-serif;
  padding: 20px;
  width: 80%;
  margin: auto;
  text-align: center;
}

.instructions2 {
  color: white;
  font-family: "Montserrat", sans-serif;
  padding: 20px;
  width: 65%;
  margin: auto;
}

.fade-in {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
.fade-in.appear {
  opacity: 1;
}

@media screen and (min-height: 800px) {
  .hero-image {
    height: 130%;
  }

  .instructions0 {
    padding-top: 395px;
    padding-bottom: 205px;
  }

  .hero-content {
    padding-bottom: 120px;
  }
}

/* Space Page Styles */
#movies {
  display: grid;
  padding: 1rem;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}

.tile {
  display: flex;
  padding: 1rem;
  margin-bottom: 1rem;
  gap: 2rem;
  font-family: "Montserrat", sans-serif;
}

img {
  width: 200px;
}

#easter_egg {
  font-family: "Montserrat", sans-serif;
}

/* Nature page styles */
#documentary_info {
  padding: 25px;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.nature_info {
  padding-top: 10px;
}

#nature_main_info {
  display: flex;
}

#nature_overview {
  margin-left: 15px;
}

#nature_menu {
  font-size: 15px;
  color: black;
  padding: 2px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

#nature_menu_padding {
  padding-left: 20px;
  padding-top: 10px;
}

.button {
  background-color: black; 
  border: 1px solid white;
  border-radius: 2px;
  color: white;
  padding: 2px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.nature_trailer {
  padding-top: 15px;
  padding-bottom: 50px;
}

/* Barbie page styles */
.barbiePage {
  color: rgb(255, 49, 152);
  font-family: "Dancing Script", cursive;
  padding: 25px;
}

#menu {
  font-size: 15px;
  color: rgb(255, 14, 135);
  padding: 2px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.barbieInfo {
  font-size: 20px;
  margin: 10px;
  margin-left: 0px;
}

.trailerButton {
  font-size: 15px;
  margin: 10px;
  margin-left: 0px;
}

/* Topnav Styles */
.topnav {
  overflow: hidden;
  background-color: #000000;
}

.topnav a {
  float: left;
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: "Montserrat", sans-serif;
}

.topnav a:hover {
  background-color: whitesmoke;
  color: black;
}

.topnav a.active {
  background-color: rgb(80, 80, 80);
  color: white;
}

@media screen and (max-width: 600px) {
  .topnav a,
  .topnav input[type="text"] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
}

/* Retired dynamic dropdown element and dynamic page styles, saved in case I want to reimplement dynamic updating later */
/* .dropbtn {
  background-color: rgb(0, 91, 170);
  color: white;
  padding: 14px 16px;
  font-size: 17px;
  border: none;
  font-family: "Montserrat", sans-serif;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  float: right;
  background-color: #000000;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-family: "Montserrat", sans-serif;
}

.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 14px 16px;
  font-size: 17px;
  text-decoration: none;
  display: block;
  font-family: "Montserrat", sans-serif;
}

.dropdown-content a:hover {
  background-color: whitesmoke;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: rgb(32, 151, 255);
}

/* Library Page Styles */
/*.movieInfo {
  display: grid;
}

#poster-img {
  width: 300px;
}  */
